# this file is used as an alternative way to wire beans without declaring them in the code, it's very limited yet since i'm only testing it
# to see how it behaves internally, so there's no support to annotations, for example.
#
# later i believe i could replace this file with a yaml file or something more robust, so we could use all the features available when
# wiring a bean
#
# for now this is the strucutre: Annotation:Class.
#
# later i intend to add support for all annotations that make sense to support them externally, so it wont be limited to OblivionWire.

OblivionWire:com.br.samples.testAppTaskManager.cli.TaskCli
